$font-color: #e9e9e9;
$blue-1: #1e3957;
$blue-2: #0a2749;
$blue-3: #0f1f2f;
$blue-4: #030d1a;
$gold-1: #cc922f;
$gold-2: #b5965d;
$gold-3: #cdcdc3;
$border-color: rgb(75, 75, 75);

// @media (min-width: 1350px) {
// 	.description-section-item p {
// 		font-size: 15px;
// 	}
// }

@media (max-width: 1424px) {
	main {
		display: none;
	}

	.active-mobile {
		background-color: #88888815;
	}

	.mobile {
		font-family: "Roboto Mono", monospace;
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 7fr 1fr;

		.nav {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			place-items: center;

			.mobile-nav {
				outline: 1px solid $border-color;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				align-items: center;
				width: 100%;
				transition: all 0.3s ease;
				text-align: center;

				ion-icon {
					font-size: 20px;
				}
			}

			.mobile-nav:hover {
				cursor: pointer;
				font-size: larger;
			}
		}

		.mobile-section-container {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;

			.main-section-item-mobile {
				overflow: hidden;
				position: absolute;
				width: 100%;
				height: 100%;
				display: grid;
				place-items: center;
				z-index: 0;
			}

			#home-main-mobile {
				background-image: url("/img/home-page-background.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				align-items: center;
				.divider {
					height: 3px;
					width: 30%;
					background-color: $blue-1;
				}
				.logo-main {
					width: 75%;
				}
				.slogan {
					span {
						font-family: "Ariel", sans-serif;
						font-style: italic;
						font-size: 25px;
					}
				}
				.main-paragraph {
					width: 80%;
					line-height: 40px;
					text-align: center;
					height: 40%;
				}

				p {
					font-family: "Montserrat", sans-serif;
				}
			}

			#contact-us-main-mobile {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-family: "Roboto Mono", monospace;

				.contact-title {
					padding-bottom: 2%;
					font-size: 6rem;
					color: $font-color;
					margin: 0 auto;
					letter-spacing: 0.15em;
				}

				.light {
					font-weight: 200;
					font-size: 3rem;
				}

				form {
					width: 80%;
					height: 60%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;

					input {
						font-size: 15px;
						font-family: "Roboto Mono", monospace;
					}

					.input-container {
						overflow: hidden;
						position: relative;
						width: 45%;
					}

					/* Chrome, Safari, Edge, Opera */
					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}

					.label-name {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						pointer-events: none;
						border-bottom: 1px solid $border-color;
					}

					.input {
						background: transparent;
						width: 100%;
						height: 100%;
						color: $font-color;
						padding-top: 15px;
						border: none;
						outline: none;
					}

					#text-area {
						width: 100%;
						padding-top: 25px;
					}

					.label-name::after {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						left: 0;
						bottom: -1px;
						border-bottom: 3px solid $gold-1;
						transform: translateX(-100%);
						transition: all 0.5s ease;
					}

					.content-name {
						position: absolute;
						bottom: 5px;
						left: 0;
						transition: all 0.5s ease;
					}

					input:focus + .label-name .content-name,
					input:valid + .label-name .content-name {
						transform: translateY(-150%);
						font-size: 15px;
						color: $gold-1;
					}

					input:focus + .label-name::after,
					input:valid + .label-name::after {
						transform: translateX(0%);
					}

					.submit-button {
						width: 50%;
						display: flex;
						align-items: center;
						justify-content: center;

						button {
							border: none;
							font-family: "Roboto Mono", monospace;
							font-size: 23px;
							cursor: pointer;
							background: linear-gradient(to right, $gold-1 4px, transparent 4px) 0 0,
								linear-gradient(to right, $gold-1 4px, transparent 4px) 0 100%,
								linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 0,
								linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 100%,
								linear-gradient(to bottom, $gold-1 4px, transparent 4px) 0 0,
								linear-gradient(to bottom, $gold-1 4px, transparent 4px) 100% 0,
								linear-gradient(to top, $gold-1 4px, transparent 4px) 0 100%,
								linear-gradient(to top, $gold-1 4px, transparent 4px) 100% 100%;

							background-repeat: no-repeat;
							background-size: 20px 20px;
							color: $font-color;
							padding: 5% 20%;
							transition: all 1s ease;
						}

						button:hover {
							background: linear-gradient(to right, $gold-1 4px, transparent 4px) 0 0,
								linear-gradient(to right, $gold-1 4px, transparent 4px) 0 100%,
								linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 0,
								linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 100%,
								linear-gradient(to bottom, $gold-1 4px, transparent 4px) 0 0,
								linear-gradient(to bottom, $gold-1 4px, transparent 4px) 100% 0,
								linear-gradient(to top, $gold-1 4px, transparent 4px) 0 100%,
								linear-gradient(to top, $gold-1 4px, transparent 4px) 100% 100%;

							background-repeat: no-repeat;
							background-size: 100% 100%;
						}
					}
				}

				.top-line {
					width: 100%;
					position: relative;
					height: 55px;
					display: flex;
					justify-content: space-between;
				}

				.middle-line {
					width: 100%;
					position: relative;
					height: 55px;
					display: flex;
					justify-content: space-between;
				}

				.bottom-line {
					width: 100%;
					position: relative;
					display: flex;
					justify-content: space-between;
				}
			}

			#our-tutors-main-mobile {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.section {
					width: 80%;
					height: 50%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
				}

				.card {
					background: linear-gradient(to right, $gold-1 4px, transparent 4px) 0 0,
						linear-gradient(to right, $gold-1 4px, transparent 4px) 0 100%, linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 0,
						linear-gradient(to left, $gold-1 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, $gold-1 4px, transparent 4px) 0 0,
						linear-gradient(to bottom, $gold-1 4px, transparent 4px) 100% 0, linear-gradient(to top, $gold-1 4px, transparent 4px) 0 100%,
						linear-gradient(to top, $gold-1 4px, transparent 4px) 100% 100%;

					background-repeat: no-repeat;
					background-size: 20px 20px;

					padding: 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 45%;
					height: 60%;
					overflow: hidden;

					.img {
						overflow: hidden;
						width: 40%;
						height: calc(100%);

						img {
							width: auto;
							height: 100%;
						}
					}

					.info {
						width: 50%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						.info-text {
							font-family: "Roboto Mono", monospace;
							font-size: medium;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 794px) {
	.mobile {
		#home-main-mobile {
			.main-paragraph {
				p {
					line-height: 25px;
				}
			}
		}
	}
}
