@media (max-width: 1424px) {
  body {
    min-height: 100vh;
  }
  html {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  main {
    display: none;
  }
  .active-mobile {
    background-color: rgba(136, 136, 136, 0.0823529412);
  }
  .mobile {
    font-family: "Roboto Mono", monospace;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 1fr;
  }
  .mobile .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
  }
  .mobile .nav .mobile-nav {
    outline: 1px solid rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
    text-align: center;
  }
  .mobile .nav .mobile-nav ion-icon {
    font-size: 20px;
  }
  .mobile .nav .mobile-nav:hover {
    cursor: pointer;
    font-size: larger;
  }
  .mobile .mobile-section-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .mobile .mobile-section-container .main-section-item-mobile {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 0;
  }
  .mobile .mobile-section-container #home-main-mobile {
    background-image: url("/img/home-page-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .mobile .mobile-section-container #home-main-mobile .divider {
    height: 3px;
    width: 30%;
    background-color: #1e3957;
  }
  .mobile .mobile-section-container #home-main-mobile .logo-main {
    width: 75%;
  }
  .mobile .mobile-section-container #home-main-mobile .slogan span {
    font-family: "Ariel", sans-serif;
    font-style: italic;
    font-size: 25px;
  }
  .mobile .mobile-section-container #home-main-mobile .main-paragraph {
    width: 80%;
    line-height: 40px;
    text-align: center;
    height: 40%;
  }
  .mobile .mobile-section-container #home-main-mobile p {
    font-family: "Montserrat", sans-serif;
  }
  .mobile .mobile-section-container #about-us-main-mobile {
    padding: 15px;
  }
  .mobile .mobile-section-container #about-us-main-mobile .divider {
    height: 3px;
    width: 45%;
    background-color: #1e3957;
    margin-bottom: 10px;
  }
  .mobile .mobile-section-container #about-us-main-mobile .text-23 h1,
.mobile .mobile-section-container #about-us-main-mobile .text-22 h1 {
    font-size: 23px;
  }
  .mobile .mobile-section-container #about-us-main-mobile .text-23 p,
.mobile .mobile-section-container #about-us-main-mobile .text-22 p {
    font-size: 11px;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices {
    width: 100%;
    font-size: medium;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices .price-number {
    color: #1e3957;
    display: flex;
    align-items: center;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices .price-number .white {
    color: #e9e9e9;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices .price-number .smaller {
    font-size: medium;
    padding-top: 2px;
  }
  .mobile .mobile-section-container #about-us-main-mobile .prices .uni-pricing {
    text-align: center;
    padding-top: 10px;
  }
  .mobile .mobile-section-container #faq-main-mobile {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile .mobile-section-container #faq-main-mobile .faq-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1em;
    height: 25%;
    color: #e9e9e9;
    letter-spacing: 0.15em;
    font-family: "Montserrat", sans-serif;
  }
  .mobile .mobile-section-container #faq-main-mobile .faq-title-wrapper .divider {
    width: 40%;
    height: 3px;
    background-color: #1e3957;
    margin-bottom: 10px;
  }
  .mobile .mobile-section-container #faq-main-mobile .faq-title-wrapper h1 {
    padding-bottom: 1%;
  }
  .mobile .mobile-section-container #faq-main-mobile span {
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    width: 80%;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets {
    text-align: left;
    width: 100%;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets li {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    background-color: #0f1f2f;
    padding-bottom: 3%;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets li:nth-child(1) {
    background-color: #0a2749;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets li:nth-child(3) {
    background-color: #0a2749;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets li:nth-child(5) {
    background-color: #0a2749;
  }
  .mobile .mobile-section-container #faq-main-mobile .bullets .heavy {
    font-weight: bold;
  }
  .mobile .mobile-section-container #contact-us-main-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", monospace;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .contact-title {
    padding-bottom: 2%;
    font-size: 50px;
    color: #e9e9e9;
    margin: 0 auto;
    letter-spacing: 0.15em;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .divider {
    width: 30%;
    height: 3px;
    background-color: #cc922f;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .light {
    font-weight: 200;
    font-size: 3rem;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Chrome, Safari, Edge, Opera */
  }
  .mobile .mobile-section-container #contact-us-main-mobile form input {
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .input-container {
    overflow: hidden;
    position: relative;
    width: 45%;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form input::-webkit-outer-spin-button,
.mobile .mobile-section-container #contact-us-main-mobile form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .label-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(75, 75, 75);
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .input {
    background: transparent;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    padding-top: 15px;
    border: none;
    outline: none;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form #text-area {
    width: 100%;
    padding-top: 25px;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .label-name::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-bottom: 3px solid #cc922f;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.5s ease;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form input:focus + .label-name .content-name,
.mobile .mobile-section-container #contact-us-main-mobile form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 15px;
    color: #cc922f;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form input:focus + .label-name::after,
.mobile .mobile-section-container #contact-us-main-mobile form input:valid + .label-name::after {
    transform: translateX(0%);
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .submit-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .submit-button button {
    border: none;
    font-family: "Roboto Mono", monospace;
    font-size: 23px;
    cursor: pointer;
    background: linear-gradient(to right, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to right, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to top, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to top, #cc922f 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #e9e9e9;
    padding: 5% 20%;
    transition: all 1s ease;
  }
  .mobile .mobile-section-container #contact-us-main-mobile form .submit-button button:hover {
    background: linear-gradient(to right, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to right, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to top, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to top, #cc922f 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .top-line {
    width: 100%;
    position: relative;
    height: 55px;
    display: flex;
    justify-content: space-between;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .middle-line {
    width: 100%;
    position: relative;
    height: 55px;
    display: flex;
    justify-content: space-between;
  }
  .mobile .mobile-section-container #contact-us-main-mobile .bottom-line {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    height: 100%;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile .card {
    background: linear-gradient(to right, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to right, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to left, #cc922f 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 0 0, linear-gradient(to bottom, #cc922f 4px, transparent 4px) 100% 0, linear-gradient(to top, #cc922f 4px, transparent 4px) 0 100%, linear-gradient(to top, #cc922f 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: 250px;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile .card .img {
    overflow: hidden;
    width: 40%;
    height: 100%;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile .card .img img {
    width: auto;
    height: 100%;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile .card .info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile .mobile-section-container #our-tutors-main-mobile .card .info .info-text {
    font-family: "Roboto Mono", monospace;
    font-size: medium;
  }
}
@media (max-width: 794px) {
  .mobile #home-main-mobile .main-paragraph p {
    line-height: 25px;
  }
}
@media (max-width: 550px) {
  html {
    overflow-y: scroll;
  }
  .mobile {
    overflow-y: scroll;
  }
  .mobile .nav .mobile-nav span {
    display: none;
  }
  .mobile .main-sections-mobile .mobile-section-container #home-main-mobile {
    overflow-y: scroll;
  }
  .mobile .main-sections-mobile .mobile-section-container #home-main-mobile .slogan span {
    font-size: 14px;
  }
  .mobile .main-sections-mobile .mobile-section-container #home-main-mobile .main-paragraph {
    padding: 0;
  }
  .mobile .main-sections-mobile .mobile-section-container #home-main-mobile .main-paragraph p {
    font-size: 13px;
  }
  .mobile .main-sections-mobile .mobile-section-container #about-us-main-mobile {
    overflow-y: scroll;
  }
  .mobile .main-sections-mobile .mobile-section-container #faq-main-mobile {
    overflow-y: scroll;
  }
  .mobile .main-sections-mobile .mobile-section-container #contact-us-main-mobile .contact-title {
    font-size: 30px;
  }
  .mobile .main-sections-mobile .mobile-section-container #our-tutors-main-mobile .card {
    width: 100%;
  }
}/*# sourceMappingURL=variable-sizing.css.map */